@page
@model RazorPagesTutorial.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1><b>Error 404</b>. NotFound Page</h1>

<a asp-page="/Employees/Index" class="btn btn-outline-primary">
    Click here to get back to Home
</a>